  <meta charset="utf-8">
  <title>Events Site</title>
  <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../custom/custom.css">
  <script type="text/javascript" src="../jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bootstrap/bootstrap.min.js"></script>
  <script type="module" src="../custom/custom.js"></script>
