nav  {
  background-color: #fff;
  background-repeat: repeat-y;
  background-size: 100% 88px;
  background-position: 0% 0%;
  background-image: repeating-linear-gradient(-25deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px);
  animation: barberpole 4s linear infinite;
}

@@keyframes barberpole {
  0% {
              background-position: 0% 0%;
  }
  100% {
              background-position: 0% 50%;
  }
}
